#container {
  display: flex;
  /* margin: 0 auto;
  width: 800px; */
}

#container > div {
  height: 200px;
  width: 300px;
  padding: 20px;
}

.red {
  background-color: tomato;
}

.blue {
  background-color: aqua;
}
