:root {
  --hero-background-color: #7153fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

#logoAndNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.logo {
  width: 2em;
}

nav {
  display: flex;
}

.nav-anchors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #profileAndBell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-image {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 350ms ease-out;
}

.bell-point {
  top: 2px;
  right: 5px;
}

.profile-point {
  bottom: 0;
  left: 25px;
}

.abosolute-to-profile {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  width: 220px;
  padding: 1rem 0;
  border-radius: 9px;
  box-shadow: -2px 0px 5px 0px rgba(174, 164, 164, 0.75);
  -webkit-box-shadow: -2px 0px 5px 0px rgba(174, 164, 164, 0.75);
  -moz-box-shadow: -2px 0px 5px 0px rgba(174, 164, 164, 0.75);
  /* visibility: hidden; */
}

.profile-image:hover .abosolute-to-profile {
  visibility: visible;
}

.profile-image:hover {
  transform: scale(1.1);
}

#dropdownPic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 30px;
}

#dropdownNameAndMail {
  width: 80%;
  padding: 0 1rem;
}

.dropdownText {
  width: 80%;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/* hero */
main {
  display: flex;
  flex-direction: column;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  height: 40vh;
  border: 1px saddlebrown solid;
  background-color: var(--hero-background-color);
}

#heroContent {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#heroContent h1,
#heroContent p {
  color: white;
}

#heroContent h1 {
  margin: 0;
}

#heroContent p {
  width: 80%;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 3px;
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 350ms ease-out;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #7153fa;
}

.btn1 {
  background-color: #7cc99a;
  color: white;
}

#heroImage {
  width: 35%;
  display: flex;
  align-self: flex-end;
}

.hero-image {
  width: 380px;
}

/* -------------------------------------------------------------------------- */
/* summary */
#offerSummary {
  width: 70%;
  height: 10vh;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/* recommandation */
#recommandation {
  width: 100%;
  height: 40vh;

  background-color: #f5f4f8;
}

#recommandation h2 {
  font-size: 1.25rem;
}

#recommandationContainer {
  width: 70%;
  margin-inline: auto;
  padding-top: 2rem;
}

#recommandationCourses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recom-image {
  width: 250px;
}

/* ----------------- utility classes --------------- */
/* header */
.postion-relative {
  position: relative;
}
.blue-point,
.green-point {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background-color: #7153fa;
  position: absolute;
}
.green-point {
  background-color: #7bc799;
  transition: transform 350ms ease-out;
}

.round-div:hover {
  transform: scale(1.1);
}

#dropdown p {
  margin: 0 0 0 0.5rem;
  font-size: 0.7rem;
  letter-spacing: 0.25px;
}

.drowpdownTextMargin {
  margin: 0.75rem 0;
}

/* summary */
.round-div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f9eedb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: transform 350ms ease-out;
}

.round-div:hover {
  transform: scale(1.1);
  background-color: lightgray;
}

.big {
  font-size: 1.5rem;
  color: orange;
}

.font-weight-h3 {
  font-size: 0.85rem;
  margin: 0 0 0.25rem 0;
}

.font-p {
  font-size: 0.85rem;
  margin: 0.25rem 0 0 0;
}
